:root {
    box-sizing: border-box;
    --app-background-color: #131316;
    --app-text-color: #F2F2F3;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: var(--app-background-color);
    color: var(--app-text-color);
}